@import "compass";

$blue01: #0093c9;
$blue02: #EEF6FF;
$green01: #5eb147;
$yellow01: #fcf8e3;
$red00: #b00925;
$red01: #f2dede;
$warning: #f28e1f;

$radius: 4px;

body {
  font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 30px;
  color: #333;
}

.body {
  background-color: #f0f3f5;
}
.body,.h1,.h2{
    font-weight: 300;
}
body * {
  box-sizing: border-box;
}

.clearfix:after{
  content: '';
  display: block;
  clear:both;
  height: 0;
  overflow: hidden;
}
.ui-datepicker {
  font-size: 12px;
  line-height: 1;
}
/*setup*/

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.clearfix:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.blocklabel{
  display: block;
    font-weight: 700;

}
.allignright{
  text-align: right;
  margin-top: 10px;
}
.alligncenter{
  text-align: center;
  margin-top: 10px;
}
/*doc
---
title: HR
name: hr
category: basics
---

Styles defined for hr elements.

```html_example
<hr>
```

*/
hr{
  border: 0 none;
  background-color: #999;
  height: 1px;
  margin: 5px 0;
}
/*doc
---
title: Headers
name: headers
category: basics
---

Styles defined for header elements.

```html_example
<h1 class="h1">h1</h1>
<h2 class="h2">h2</h2>
```

*/
.h1 {
  font-size: 1.3rem;
  margin: 0;
  padding: 8px 10px;
  background-color: $red00;
  color:#fff;
  box-shadow: 0 3px 0 0 #d0d2d3;
}

.h2 {
  font-size: 1rem;
  margin: 20px 0 0;
  padding: 2px 5px;
  color: #fff;
  background-color: #10181f;
  border-radius: $radius $radius 0 0;
}

/*doc
---
title: Buttons
name: button
category: basics
---

Button styles are applied to the BUTTON element. The class ".btn-change" provides a different back color.

```html_example
<button type="button">&times;</button>
<button type="submit">Save</button>
<button type="reset" class="btn-change">Clear</button>
<button type="button" class="btn-change">Edit</button>
<button type="button" disabled>Disabled</button>
```

*/

button {
  margin: 0;
  font-size: 1em;
  line-height: 21px;
  max-width: 100%;
  padding: 0 6px;
  border: 1px solid #fff;
  font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial;
  font-weight: 300;
  cursor: pointer;
  color: #fff;
  border: 0 none;
  border-radius: $radius;
  text-transform: uppercase;

  background-color: $red00;
  &:hover {
    background-color: $blue01;
  }
}
.btn-change {
  background-color: $warning;
}
/*doc
---
title: Select & Input
name: select & input
category: basics
---

Style for SELECT & INPUT

```html_example
<select><option>Drop down</option><select>
<select disabled><option>Disabled</option><select>
<input type="text" placeholder="Type text"/>
<input type="number" placeholder="Type number"/>
```
*/

select, input {
  margin: 0;
  border-radius: $radius;
}
select, [type='text'], [type='number'] {
  width: 165px;
}
select, input[type='text'], input[type='number'] {
  font-size: 1em;
  line-height: 19px;
  max-width: 100%;
  padding: 0 6px;
  border: 1px solid #ddd;
  background-color: #fff;
}

[disabled], [readonly] {
  cursor: not-allowed;
  color: #fff;
  background-color: #d1d2d4;
}
[disabled]:hover, [readonly]:hover {
  background-color: #ccc;
}
/*doc
---
title: Fieldset
name: fieldset
category: basics
---

Any FIELDSET element and LEGEND will be styled as follows:

```html_example
    <fieldset><legend>Legend</legend>
      Fieldset content
    </fieldset>
```
*/

fieldset {
  margin: 0;
  border: 0 solid $blue01;
  background-color: #fff;
  border-radius: 0 0 $radius $radius;
    box-shadow: 0 3px 0 0 #d0d2d3;

}
legend {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: $blue01;
  background-color: #fff
}


/*doc
---
title: Grid
name: grid
category: basics
---

Grid system contains floating two containers of 50/50 or 37/63 ratio;

```html_example

<div class="clearfix">
  <div class="float50"><hr>50%<hr></div>
  <div class="float50"><hr>50%<hr></div>
</div>
<div class="clearfix">
  <div class="float33"><hr>33%<hr></div>
  <div class="float33"><hr>33%<hr></div>
  <div class="float33"><hr>33%<hr></div>
</div>
<div class="clearfix">
  <div class="float-lil"><hr>Little<hr></div>
  <div class="float-big"><hr>Big<hr></div>
</div>
<div class="inblock"><hr>Inline block<hr></div>
<div class="inblock"><hr>Inline block<hr></div>
<div class="inblock"><hr>Inline block<hr></div>

```
*/
.float50 {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.float50:nth-child(even) {
  padding-right: 0;
}
.float33 {
  float: left;
  width: 33.33%;
  padding-right: 10px;
}

.float66 {
  float: left;
  width: 66.66%;
  padding-right: 10px;
}
.float33:nth-of-type(3n+3), .float33:last-child {
  padding-right: 0;
}
.float-lil {
  float: left;
  width: 37%;
  padding-right: 10px;
}
.float-big {
  float: left;
  width: 63%;
}
.inblock{
  display: inline-block;
  width: 180px;
}
/*doc
---
title: Table
name: table
category: basics
---

Table styling applied when a class of "tbl" is added to a TABLE element. The cell in the footer has a class of ".allign-right".

```html_example
<table class="tbl">
  <caption>Table caption</caption>
  <thead><tr><th>Table Head</th><th>Table Head</th><th>Table Head</th></tr></thead>
  <tbody>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
  </tbody>
  <tfoot><tr><td colspan="3" class="allign-right">Table footer</td></tr></tfoot>
</table>
```

*/

.tbl {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 0 0  $radius $radius;
    box-shadow: 0 3px 0 0 #d0d2d3;
    background-color: #fff;

  caption{
      color: $blue01;
      text-transform: uppercase;
      background-color: $blue02;
  }
  thead{
    background-color: #dae2e8;
  }
  tbody tr{
    border-bottom: 1px solid #ddd;
  }
  th, td{
    padding: 1px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    text-align: left;
    font-weight: 700;
  }

  .hasFloat {
    white-space: nowrap;
  }

  tbody tr:hover{
    background-color: #eee;
  }

}
.allign-right{
  text-align: right;
}

/*doc
---
title: Holiday Label
name: holiday label
category: basics
---

Holiday box with checkmark and title. Checked and unchecked states.

```html_example
<div class="holiday-section">
<label>
<input type="checkbox" />
<span><br>New Years<br>Jan 1</span>
</label>
<label>
<input type="checkbox" checked/>
<span><br>New Years<br>Jan 1</span>
</label>
</div>
```

*/

.holiday-section {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  input[type="checkbox"] {
    display: none;
  }
  label {
    display: inline-block;
    padding: 0 2px;
    cursor: pointer;
    vertical-align: top;
  }
  span {
    display: inline-block;
    width: 100%;
    margin-bottom: 1px;
    color: #fff;
    background-color: #f28e1f;
    border-radius: $radius;
  }
  :checked + span {
    background-color: $green01;
  }
  span:hover, :checked + span:hover {
    background-color: $blue01;
  }
  span:before {
    font-size: 2rem;
    content: '\002610';
  }
  :checked + span:before {
    content: '\002611';
  }

}
#holidaysFLT label {
  width: 24%;
}
#holidaysSTD label {
  width: 16%;
}

/*doc
---
title: Notifications
name: notifications
category: basics
---

Styling examples that a few classes provides: ".info, .success, .danger, .warning";

```html_example
<div class="info">info</div><br>
<div class="info success">success</div><br>
<div class="info danger">danger</div><br>
<div class="info warning">warning</div>
```
*/

.info {
  padding: 0 10px;
  color: #fff;
  background-color: #0093c9;
  &.success {
    background-color: $green01;
  }
  &.danger {
    background-color: $red00;
  }
  &.warning {
    background-color: $warning;
  }
}

/*doc
---
title: Tooltip
name: tooltip
category: basics
---

Shows on top of chart during hover of a node.

```html_example
<div class="display-only-wrapper">
  <div id="tooltip" class="tooltip" style="display:block">PTO Balance - Sat Mar 15 2014 = 50.00</div>
<br><br>
</div>
```

*/

.tooltip {
  position: absolute;
  top: 0;
  display: none;
  padding: 2px 5px 2px 2px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .8);
}
.tooltip:before {
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border: 13px solid transparent;
  border-right-color: #fff;
  border-right-color: rgba(255, 255, 255, .8);
  border-left-width: 0;
}

/*chart area*/
.placeholder {
  height: 300px;
  background-color: $blue01;
  border-radius: $radius;
    box-shadow: 0 3px 0 0 #d0d2d3;

}
.flot-text{
  color:#fff!important;
}
.legend {
  font-size: 12px;
  line-height: 1;
  >div{
    display: none;
  }
  table{
    background-color: #444;
    background-color: rgba(0,0,0,.15)
  }
}

/*doc
---
title: Help info
name: helpinfo
category: basics
---

Help info displayed on hover.

```html_example
 <span class="help" data-info="Unused balance from previous year">I</span>
```
*/

.help{
  border-radius: 2em;
  background-color: #eee;
  padding: 0 7px;
  font-weight: 400;
  margin-left:8px;
  position: relative;
  font-family: Georgia, serif;
}
.help:hover{
  cursor:help;
  background-color: #ccc;
}
.help:hover:after{
  background-color: #eee;
  content:attr(data-info);
  position: absolute;
  top:0;
  left:15px;
  white-space: nowrap;
  padding: 0 5px;
  font-family: sans-serif;
}

@media (max-width: 700px){
  .float50 {
    float: none;
    width: auto;
  }
}
