@import "compass";
body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 44px;
  color: #333;
}
body * {
  box-sizing: border-box;
}
.ui-datepicker {
  font-size: 12px;
  line-height: 1;
}
/*setup*/

#container {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-weight: 300;
  margin-bottom: 10px;
}
.clearfix:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: '';
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
/*chart area*/

#placeholder {
  height: 300px;
  border: 1px solid #155185;
  background-color: #2180d3;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxYWRmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTgwZDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top,  #56a2e4 0%, #2180d3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a2e4), color-stop(100%,#2180d3));
  background-image: -webkit-linear-gradient(top,  #56a2e4 0%,#2180d3 100%);
  background-image: -o-linear-gradient(top,  #56a2e4 0%,#2180d3 100%);
  background-image: -ms-linear-gradient(top,  #56a2e4 0%,#2180d3 100%);
  background-image: linear-gradient(to bottom,  #56a2e4 0%,#2180d3 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56a2e4', endColorstr='#2180d3',GradientType=0 );*/
}
.flot-text{
  color:#fff!important;
}
.legend {
  font-size: 12px;
  line-height: 1;
  table{
    color:#555!important;
  }
}

/*doc
---
title: Buttons
name: button
category: basics
---

Button styles are applied to the BUTTON element. The class ".btn-change" provides a different back color.

```html_example
<button type="button">&times;</button>
<button type="submit">Save</button>
<button type="reset" class="btn-change">Clear</button>
<button type="button" class="btn-change">Edit</button>
<button type="button" disabled>Disabled</button>
```

*/

button {
  margin: 0;
  font-size: 1em;
  line-height: 21px;
  max-width: 100%;
  padding: 0 6px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: 'Segoe UI', Helvetica, Arial;
  cursor: pointer;
  color: #fff;
  border: 0 none;
  border-radius: 3px;
  background-color: #cb4b4b;
  &:hover {
    background-color: #a94442;
  }
}
.btn-change {
  background-color: lightslategrey;
}
/*doc
---
title: Select & Input
name: select & input
category: basics
---

Style for SELECT & INPUT

```html_example
<select><option>Drop down</option><select>
<select disabled><option>Disabled</option><select>
<input type="text" placeholder="Type text"/>
<input type="number" placeholder="Type number"/>
```
*/

select, input {
  margin: 0;
}
select, [type='text'], [type='number'] {
  width: 160px;
}
select, input[type='text'], input[type='number'] {
  font-size: 1em;
  line-height: 19px;
  max-width: 100%;
  padding: 0 6px;
  border: 1px solid #bbb;
  background-color: #fff;
}
/*
input[type='text']:focus, input[type='number']:focus {
  outline-width: 2px;
  outline-style: dotted;
  outline-color: #ccc;
}
*/
*[disabled] {
  cursor: not-allowed;
  color: #999;
  background-color: #eee;
  border: 1px solid #ddd;
}
*[disabled]:hover {
  background-color: #ccc;
}
/*doc
---
title: Fieldset
name: fieldset
category: basics
---

Any FIELDSET element and LEGEND will be styled as follows:

```html_example
    <fieldset><legend>Legend</legend>
      Fieldset content
    </fieldset>
```
*/

fieldset {
  margin: 0;
  border: 1px solid #56a2e4;
  background-color: #fff;
}
legend {
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #56a2e4;
}
/*doc
---
title: Notifications
name: notifications
category: basics
---

Styling examples that a few classes provides: ".info, .success, .danger, .warning";

```html_example
<div class="info">info</div><br>
<div class="info success">success</div><br>
<div class="info danger">danger</div><br>
<div class="info warning">warning</div>
```
*/

.info {
  padding: 0 10px;
  color: #31708f;
  border: 1px solid #bce8f1;
  background-color: #d9edf7;
  &.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.danger {
    color: #a94442;
    border-color: #ebccd1;
    background-color: #f2dede;
  }
  &.warning {
    color: #8a6d3b;
    border-color: gold;
    background-color: #fcf8e3;
  }
}
.float50 {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.float50 + .float50 {
  padding-right: 0;
}
.float-lil {
  float: left;
  width: 37%;
  padding-right: 10px;
}
.float-big {
  float: left;
  width: 63%;
}
/*doc
---
title: Table
name: table
category: basics
---

Table styling applied when a class of "tbl" is added to a TABLE element.

```html_example
<table class="tbl">
  <thead><tr><th>Table Head</th><th>Table Head</th><th>Table Head</th></tr></thead>
  <tbody>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
    <tr><td>Table Cell</td><td>Table Cell</td><td>Table Cell</td></tr>
  </tbody>
  <tfoot><tr><td colspan="3">Table footer</td></tr></tfoot>
</table>
```

*/

.tbl {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
  table-layout: fixed;
  thead,tfoot{
    background-color: #d9edf7;
  }
  thead tr,tbody tr{
    border-bottom: 1px solid #A6D3E9;
  }
  th, td{
    padding: 1px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  th {
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    color: #555;
  }

  .hasFloat {}

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  tbody tr:hover{
    background-color: #eee;
  }

}
.allign-right{
  text-align: right;
}
/*doc
---
title: Tooltip
name: tooltip
category: basics
---

Shows on top of chart during hover of a node.

```html_example
<div style="position:relative">
<div id="tooltip" class="tooltip" style="display:block">PTO Balance - Sat Mar 15 2014 = 54.67</div>
<br>
</div>
```

*/

.tooltip {
  position: absolute;
  top: 0;
  display: none;
  padding: 2px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .70);
}
.tooltip:before {
  position: absolute;
  top: 0;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border: 13px solid transparent;
  border-right-color: #fff;
  border-right-color: rgba(255, 255, 255, .70);
  border-left-width: 0;
}
/*doc
---
title: Holiday Label
name: holiday label
category: basics
---

Holiday box with checkmark and title.

```html_example
<div class="holiday-section">
<label>
<input type="checkbox" />
<span><br>New Years<br>Jan 1</span>
</label>
</div>
```

*/

.holiday-section {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  input[type="checkbox"] {
    display: none;
  }
  label {
    display: inline-block;
    padding: 0 2px;
    cursor: pointer;
    vertical-align: top;
  }
  span {
    display: inline-block;
    width: 100%;
    margin-bottom: 1px;
    color: #8a6d3b;
    border: 2px solid #fe9;
    background-color: #fcf8e3;
  }
  :checked + span {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  span:hover {
    background-color: #dff0d8;
  }
  :checked + span:hover {
    background-color: #fcf8e3;
  }
  span:before {
    font-size: 2rem;
    content: '\002610';
  }
  :checked + span:before {
    content: '\002611';
  }

}
#holidaysFLT label {
  width: 24%;
}
#holidaysSTD label {
  width: 16%;
}
