<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />
  <title>PTO Planner</title>
  <!-- <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
  <link rel="stylesheet" type="text/css" href="libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" />
  <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>-->
  <link rel="stylesheet" type="text/css" href="stylesheets/screen.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin"/>
</head>
<body class="body" ng-app="ptoPlanner">
  <h1 class="h1">PTO Planner</h1>
  <div class="container" ng-controller="ptoController">
    <h2 class="h2">Setup</h2>
    <fieldset id="divStartingBalance" class="clearfix">
      <div class="inblock">
        <label class="blocklabel">Carry Over <span class="help" data-info="Unused balance from previous year">I</span></label>
        <input type="number" step="1" ng-model="startingBalance" ng-change="startingBalanceChanged()" />
      </div>
      <div class="inblock">
        <label class="blocklabel">Employee Status</label>
        <select name="year" id="selectYear" ng-model="empStatusVar" ng-options="empState.val as empState.label for empState in empStates" ng-change="empStatusVarChanged()">
        </select>
      </div>
      <div class="inblock">
        <label class="blocklabel">Hire Year</label>
        <select name="year" id="selectYear" ng-model="hireYearVar" ng-options="hireYear.val as hireYear.label for hireYear in hireYears" ng-change="hireYearVarChanged()">
        </select>
      </div>
      <div class="inblock">
        <label class="blocklabel">Prorate Start</label>
        <input type="text" ng-model="prorateStart" ng-change="prorateStartChanged()" data-dp="" placeholder="dd/mm/yyyy"/>
      </div>
      <div class="inblock">
        <label class="blocklabel">Prorate End</label>
        <input type="text" ng-model="prorateEnd" ng-change="prorateEndChanged()" data-dp="" placeholder="dd/mm/yyyy"/>
      </div>
    </fieldset>
    <br>
    <div class="placeholder" data-chart=""></div>
    <div class="clearfix">
      <div class="float50">
        <form name="ptoForm">
          <h2 class="h2">Add / Edit PTO</h2>
          <fieldset id="fstAddPto">
            <div class="clearfix">
              <div class="float33">
                <label class="blocklabel">From</label>
                <input type="text" id="from" name="dateFrom" ng-model="newPto.dateFrom" ng-change="dateFromChanged()" placeholder="dd/mm/yyyy" />
              </div>
              <div class="float33">
                <label class="blocklabel">To</label>
                <input type="text" id="to" name="dateTo" ng-model="newPto.dateTo" ng-change="dateToChanged()" placeholder="dd/mm/yyyy" />
              </div>
              <div class="float33">
                <label class="blocklabel">Note</label>
                <input type="text" id="newPtoNote" ng-model="newPto.note" />
              </div>
            </div>
            <div class="clearfix">
              <div class="float66">
                <label class="blocklabel">Full PTO or half.</label>
                <input type="checkbox" ng-model="newPto.halfDays"/> Check this to log this PTO as half days.
              </div>
              <div class="float33">
                <label class="blocklabel">&nbsp;</label>
                <button type="submit" ng-click="addPto()" ng-disabled="!newPto.dateFrom || !newPto.dateTo">Save</button>
                <button type="button" ng-click="resetPto()" ng-disabled="!newPto.dateFrom || !newPto.dateTo" class="btn-change">Clear</button>
              </div>
            </div>
          </fieldset>
        </form>
        <h2 class="h2">Holidays</h2>
        <fieldset>
           <div id="holidaysFLT" class="holiday-section">
              <label><input type="checkbox" ng-model="floatsList.q1.used" ng-change="changeFloats('q1')" /><span><br>Q1</span><input type="text" placeholder="dd/mm/yyyy" ng-model="floatsList.q1.date" ng-change="dateFloats('q1')" data-dp='{"qEnd": 3}'/></label><!-- sp
space      --><label><input type="checkbox" ng-model="floatsList.q2.used" ng-change="changeFloats('q2')" /><span><br>Q2</span><input type="text" placeholder="dd/mm/yyyy" ng-model="floatsList.q2.date" ng-change="dateFloats('q2')" data-dp='{"qEnd": 6}'/></label><!-- sp
space      --><label><input type="checkbox" ng-model="floatsList.q3.used" ng-change="changeFloats('q3')" /><span><br>Q3</span><input type="text" placeholder="dd/mm/yyyy" ng-model="floatsList.q3.date" ng-change="dateFloats('q3')" data-dp='{"qEnd": 9}'/></label><!-- sp
space      --><label><input type="checkbox" ng-model="floatsList.q4.used" ng-change="changeFloats('q4')" /><span><br>Q4</span><input type="text" placeholder="dd/mm/yyyy" ng-model="floatsList.q4.date" ng-change="dateFloats('q4')" data-dp='{"qEnd": 12}'/></label>
          </div>
          <hr>
          <div id="holidaysSTD" class="holiday-section">
             <label><input type="checkbox" ng-model="holidayList.h1" ng-change="changeHoliday('h1')" /><span><div class="nowrap">New Years</div>Jan 1</span></label><!-- sp
space     --><label><input type="checkbox" ng-model="holidayList.h2" ng-change="changeHoliday('h2')" /><span><div class="nowrap">Memorial</div>May 1</span></label><!-- sp
space     --><label><input type="checkbox" ng-model="holidayList.h3" ng-change="changeHoliday('h3')" /><span><div class="nowrap">4th of July</div>Jul 4</span></label><!-- sp
space     --><label><input type="checkbox" ng-model="holidayList.h4" ng-change="changeHoliday('h4')" /><span><div class="nowrap">Labor Day</div>Sep 1</span></label><!-- sp
space     --><label><input type="checkbox" ng-model="holidayList.h5" ng-change="changeHoliday('h5')" /><span><div class="nowrap">Thanksgiving</div>Nov 27</span></label><!-- sp
space     --><label><input type="checkbox" ng-model="holidayList.h6" ng-change="changeHoliday('h6')" /><span><div class="nowrap">Christmas</div>Dec 25</span></label>
          </div>
        </fieldset>
      </div>
      <div class="float50">
        <h2 class="h2">PTO List</h2>
        <table id="tblPto" class="tbl">
          <thead>
            <tr>
              <th>From</th><th>To</th><th>Note</th><th>Full/Half</th><th class="hasFloat" title="Contains Floating Holiday">*</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pto in ptoList | orderBy:'dateFrom' track by pto.id">
              <td ng-bind="pto.dateFrom | date:'shortDate'"></td>
              <td ng-bind="pto.dateTo | date:'shortDate'"></td>
              <td ng-bind="pto.comment"></td>
              <td ng-bind="pto.halfDays ? 'Half' : 'Full'"></td>
              <td class="hasFloat">
                <span ng-bind="pto.floats.length"></span>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn-change" ng-click="editPto(pto)">Edit</button>
                <button type="button" class="btn-delete" ng-click="removePto(pto.id)">&times;</button>
              </td>
            </tr>
          </tbody>
          <tfoot><tr><td colspan="5" class="allign-right">* Contains Floating Holiday</td></tr></tfoot>
        </table>
        <h2 class="h2">Totals</h2>
        <table class="tbl totals">
          <thead>
            <tr><th>To Date</th><th>Earned</th><th>Used</th><th>Expired</th><th>Available</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Hours</td>
              <td ng-bind="( ( ( hireYearVar * 8 ) / empStatusVar ) + startingBalance ) * elapsedYear | number:2"></td>
              <td ng-bind="todateHoursUsed * 8"></td>
              <td ng-bind="todateHoursLost"></td>
              <td ng-bind="todateHoursAvailable"></td>
            </tr>
            <tr>
              <td>Days</td>
              <td ng-bind="( ( hireYearVar / empStatusVar ) + ( startingBalance / 8 ) ) * elapsedYear | number:2"></td>
              <td ng-bind="todateHoursUsed"></td>
              <td ng-bind="todateHoursLost / 8 | number:2"></td>
              <td ng-bind="todateHoursAvailable / 8 | number:2"></td>
            </tr>
          </tbody>
          <thead>
            <tr><th>Yr End</th><th>Earned</th><th>Used</th><th>Expired</th><th>Available</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Hours</td>
              <td ng-bind="( ( hireYearVar * 8 ) / empStatusVar ) + startingBalance"></td>
              <td ng-bind="daysUsed * 8"></td>
              <td ng-bind="lostBalance"></td>
              <td ng-bind="ptoBalance"></td>
            </tr>
            <tr>
              <td>Days</td>
              <td ng-bind="( hireYearVar / empStatusVar ) + ( startingBalance / 8 )"></td>
              <td ng-bind="daysUsed"></td>
              <td ng-bind="lostBalance/8"></td>
              <td ng-bind="ptoBalance/8"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id='tooltip' class="tooltip"></div>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
  <script src="libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->
  <script src="libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="scripts/jquery.flot.min.js"></script>
  <script src="scripts/jquery.flot.time.min.js"></script>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script> -->
  <script src="libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="app/app.js"></script>
  <script src="services/dataStore.js"></script>
  <script src="factories/ptoManager.js"></script>
  <script src="factories/chartGenerator.js"></script>
  <script src="controllers/ptoController.js"></script>
  <script src="directives/chart.js"></script>
</body>
</html>
