<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width"/>
    <title>PTO Planner</title>
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
<body data-ng-app="ptoPlanner">
    <div id="container" data-ng-controller="ptoController">

        <h1 class="row">PTO Planner</h1>

        <div id="placeholder" data-chart=""></div>
        <fieldset id="notes" class="row" data-ng-show="floatingHolidayResult.length">
            <legend>Alerts!</legend>
            <span ng-repeat="i in floatingHolidayResult" class="{{i.type}}">
                {{i.info}}
            </span>
        </fieldset>

        <form name="ptoForm" id="dataEntry" class="row">
            <div id="divStartingBalance">
                <span class="label">Starting Balance:</span>
                <input type="number" step="0.01" id="numStartingBalance" data-ng-model="startingBalance" data-ng-change="startingBalanceChanged()" />
            </div>
            <div class="clearfix">
                <fieldset id="fstAddPto">
                    <legend>Add PTO:</legend>
                    <label class="label">Type:</label>
                    <!--
                    <select data-ng-model="newPto.ptoType" data-ng-options="k as v for (k,v) in ptoTypes">
                        <option value="">-- Select PTO Type --</option>
                    </select>
                    -->
                    <label data-ng-repeat="ptotype in ptoTypes" data-ng-init="$parent.newPto.ptoType = 0" class="radiolabel">
                        <input type="radio" name="pt" data-ng-model="$parent.newPto.ptoType" data-ng-value="{{$index}}" />
                        {{ptotype}}
                    </label>
                    <div class="nowrap">
                        <label class="label">From:</label>
                        <input type="text" id="from" name="dateFrom" data-ng-model="newPto.dateFrom" data-ng-change="dateFromChanged()" class="date" />
                        <span class="label">To:</span>
                        <input type="text" id="to" name="dateTo" data-ng-model="newPto.dateTo" data-ng-change="dateToChanged()" class="date" />
                    </div>
                    <label class="label">Note:</label>
                    <input type="text" id="newPtoNote" data-ng-model="newPto.note" />
                    <br>
                    <label class="label">&nbsp;</label>
                    <button type="button" data-ng-click="addPto()" data-ng-disabled="!newPto.dateFrom || !newPto.dateTo || newPto.ptoType == null">
                        &plus; Add
                    </button>
                </fieldset>

                <table id="tblPto" data-ng-hide="ptoList.length == 0">
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Type</th>
                        <th>Note</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr data-ng-repeat="pto in ptoList track by pto.id | orderBy:'dateFrom'">
                        <td>{{ pto.dateFrom | date:'shortDate' }}</td>
                        <td>{{ pto.dateTo | date:'shortDate' }}</td>
                        <td>{{ ptoTypes[pto.ptoType] }}</td>
                        <td>{{ pto.comment }}</td>
                        <td><button data-ng-click="removePto(pto.id)">&times;</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    <div id='tooltip' class="tooltip"></div>
<!--     <div id='tooltipPin' class="tooltip"></div> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="scripts/jquery.flot.min.js"></script>
    <script src="scripts/jquery.flot.time.min.js"></script>
    <script src="scripts/jquery.flot.symbol.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="services/dataStore.js"></script>
    <script src="factories/ptoManager.js"></script>
    <script src="factories/chartGenerator.js"></script>
    <script src="factories/floatingHolidayChecker.js"></script>
    <script src="controllers/ptoController.js"></script>
    <script src="directives/chart.js"></script>
</body>
</html>
