@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="ptoPlanner">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>PTO Planner</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=latin">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Version1/style.css" />
</head>
<body data-ng-controller="ptoController">
    <div class="hdr">
        <div class="pullright">
            <span class="label">Year:</span>
            <select ng-model="selectedYear" ng-options="yr as yr for yr in yearList" ng-change="selectedYearChanged()"></select>
        </div>
        <h1>PTO Planner</h1>
    </div>

    <div id="container">

        <h2 class="h2">Setup</h2>
        <fieldset class="clearfix">
            <div class="inblock">
                <label class="blocklabel">Carry Over</label>
                <input type="number" step="0.01" id="numStartingBalance" data-ng-model="curSettings.PtoCarriedOver" />
            </div>
            <div class="inblock">
                <label class="blocklabel">Employee Status</label>
                <select ng-model="curSettings.EmployeeStatus" ng-options="emp.id as emp.name for emp in empStatuses"></select>
            </div>
            <div class="inblock">
                <label class="blocklabel">Hire Year</label>
                <input type="text" ng-model="curSettings.HireYear" placeholder="yyyy">
            </div>
            <div class="inblock">
                <label class="blocklabel">Prorate Start</label>
                <input type="text" ng-model="curSettings.ProrateStart" placeholder="dd/mm/yyyy" class="hasDatepicker">
            </div>
            <div class="inblock">
                <label class="blocklabel">Prorate End</label>
                <input type="text" ng-model="curSettings.ProrateEnd" placeholder="dd/mm/yyyy" class="hasDatepicker">
            </div>
            <div class="inblock">
                <label class="blocklabel">&nbsp;</label>
                <button type="submit" ng-click="saveSettings()">Save</button>
            </div>

        </fieldset>
        <br />
        <div id="chartContainer">
            <div id="placeholder" data-chart=""></div>
        </div>
        <div id="notes" data-ng-show="floatingHolidayResult != ''">
            <strong>Floating Holiday Alert!</strong> - {{floatingHolidayResult}}
        </div>

        <div class="clearfix">
            <div class="float50">

                <h2 class="h2">Add PTO</h2>
                <fieldset id="fstAddPto">
                    <form name="ptoForm" id="dataEntry">
                        <div class="float50">
                            <span class="label">From:</span>
                            <input type="text" name="dateFrom" data-ng-model="currentPto.StartDate" data-ng-change="dateFromChanged()" class="date" />
                        </div><div class="float50">
                            <span class="label">To:</span>
                            <input type="text" name="dateTo" data-ng-model="currentPto.EndDate" data-ng-change="dateToChanged()" class="date" />
                        </div><div class="float50">
                            <span class="label">Type:</span>
                            <select data-ng-model="currentPto.PtoType" data-ng-options="p.id as p.name for p in ptoTypes"></select>
                        </div><div class="float50">
                            <span class="label">Note:</span>
                            <input type="text" size="51" data-ng-model="currentPto.Note" />
                        </div><div class="float50">
                            <span class="label">Full PTO or half.</span>
                            <span class="help" data-info="Log this PTO as half days (4 hrs per day).">
                                <i class="fa fa-question-circle"></i>
                            </span>
                                  <input type="checkbox" ng-model="currentPto.HalfDays" class="ng-pristine ng-valid">
                        </div>
                        <div class="float50">
                            <span class="label"></span>
                            <button type="button" data-ng-click="savePto()" data-ng-disabled="!currentPto.StartDate || !currentPto.EndDate || !currentPto.PtoType">
                                {{ currentPto.Url ? 'Update' : 'Add' }}
                            </button>
                        </div>
                    </form>
                </fieldset>
                <h2 class="h2">Holidays</h2>
                <fieldset>
                    <div id="holidaysFLT" class="holiday-section">
                        <div ng-repeat="fh in floatingHolidays" class="{{fh.date? 'on' : 'off'}}"><p>{{fh.name}}</p><input type="text" placeholder="dd/mm/yyyy" value="{{fh.date | date:'shortDate'}}" /></div>
                    </div>
                    <hr>
                    <div id="holidaysSTD" class="holiday-section">
                        <div class="on"><p>New Years<br>Wednesday Jan 01</p></div>
                        <div class="on"><p>Memorial<br>Monday May 26</p></div>
                        <div class="on"><p>Independence<br>Friday Jul 04</p></div>
                        <div>           <p>Labor<br>Monday Sep 29</p></div>
                        <div>           <p>Thanksgiving<br>Thursday Nov 27</p></div>
                        <div>           <p>Christmas <br>Thursday Dec 25</p></div>
                    </div>
                </fieldset>
            </div><div class="float50">
                <h2 class="h2">PTO List</h2>
                <table id="tblPto" class="tbl" data-ng-hide="ptoList.length == 0">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Note</th>
                            <th>Full/Half</th>
                            <th class="nowrap" title="Contains Holiday">*</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="pto in ptoList track by pto.Url | orderBy:'StartDate'">
                            <td ng-bind="pto.PtoType == 2 ? 'FH' : 'PTO'"></td>
                            <td ng-bind="pto.StartDate | date:'shortDate'"></td>
                            <td ng-bind="pto.EndDate | date:'shortDate'"></td>
                            <td ng-bind="pto.Note"></td>
                            <td ng-bind="pto.HalfDays ? 'Half' : 'Full'"></td>
                            <td>0/1/2...</td>
                            <td class="nowrap">
                                <button type="button" class="btn-change" ng-click="editPto(pto)" ng-hide="pto.PtoType == 2">Edit</button>
                                <button data-ng-click="removePto(pto.Url)" ng-hide="pto.PtoType == 2">&times;</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="7" class="allign-right">* Contains Holiday(s)</td></tr>
                    </tfoot>
                </table>
                <h2 class="h2">Totals</h2>
                <table class="tbl totals">
                    <thead>
                        <tr><th>To Date</th><th>Earned</th><th>Used</th><th>Expired</th><th>Available</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hours</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td>Days</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr><th>Yr End</th><th>Earned</th><th>Used</th><th>Expired</th><th>Available</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hours</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td>Days</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/Scripts/jqueryflot/jquery.flot.min.js"></script>
    <script src="/Scripts/jqueryflot/jquery.flot.time.min.js"></script>
    <script src="/Scripts/jqueryflot/jquery.flot.symbol.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="/Scripts/Version1/app/app.js"></script>
    <script src="/Scripts/Version1/app/controllers.js"></script>
    <script src="/Scripts/Version1/app/directives.js"></script>
    <script src="/Scripts/Version1/app/services.js"></script>
</body>
</html>