@charset "UTF-8";
body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin:0 0 22px;
    color:#333;

}
body *{
    box-sizing:border-box;
}

/*setup*/
#container {
    max-width: 1000px;
    margin: 0 auto;
}
hr {
    border: 1px solid#ccc;
    border-width: 1px 0 0;
}
h1{
    margin-bottom: 10px;
    font-weight: 300
}
.clearfix:after{
    content: '';
    clear:both;
    display: block;
    overflow: hidden;
    height: 0;
}
.nowrap{
    white-space: nowrap;
}
select, button, input{
    margin:0;
}
select, [type="submit"], [type="text"], [type="number"]{
    width:160px;
}
select, button, [type="text"], [type="number"]{
    max-width: 100%;
    border:1px solid #fff;
    background-color: #fff;
    font-size: 1em;
    line-height: 19px;
    padding: 0 6px;
}

button{
    font-family: "Segoe UI", Helvetica, Arial;
    border:0 none;
    background-color: #cb4b4b;
    color:#fff;
    border-radius: 3px;
    padding: 0 6px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #a94442
}
[type="text"]:focus,[type="number"]:focus{
    outline-style: dotted;
}
[disabled]{
    background-color: #ddd;
    color:#fff;
    cursor: not-allowed;
}
[disabled]:hover{
    background-color: #eee
}
fieldset{
    border: 1px solid #eee;
    background-color: #eee;
    margin:0;
}
legend{
    background-color: #fff;
    text-align: center;
    padding: 0 10px;
    text-transform: uppercase;
}

.radiolabel{
    margin-right: 5px;
    cursor: pointer;
}
/*chart area*/
#placeholder {
    height: 300px;
    background-color: #eee;
}

.legend{
    font-size: 12px;
    line-height: 1;
}
/*alerts*/

#notes span{
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
}
.danger {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.info {
    color: #31708f;
    background-color: #d9edf7;
    border:1px solid #bce8f1;
}
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border:1px solid gold;
}
.float50{
    width: 50%;
    float: left;
    padding-right: 10px
}
.float50 + .float50{
    padding-right: 0
}
.tbl {
    border-collapse: collapse;
    width: 100%;
    background-color: #eee;
    margin-top:10px;
    border-bottom: 1px solid #eee;

}
.tbl th{
    text-align: left;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: 400
}
.tbl td {
    padding: 0 0 0 10px;
}
/*table*/
.tbl tbody tr:nth-child(odd){
    background-color: #f9f9f9;
}
.tbl tbody tr:hover{
    background-color: #d9edf7
}
/*tooltip*/
.tooltip {
    position: absolute;
    top:0;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    background-color: rgba(255, 221, 221, 0.65);
    display: none;
}
.tooltip:before {
    content: '';
    position: absolute;
    right: 100%;
    top: -1px;
    height: 0;
    width: 0;
    border: 13px solid transparent;
    border-left-width:0;
    border-right-color: #555;
}

.ui-datepicker{
    line-height: 1;
    font-size: 12px;
}
