@charset 'UTF-8';
body{
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;

    margin: 0 0 22px;

    color: #333;
}
body *{
    box-sizing: border-box;
}

.ui-datepicker{
    font-size: 12px;
    line-height: 1;
}

/*setup*/
#container{
    max-width: 1000px;
    margin: 0 auto;
}
hr{
    border: 1px solid #ccc;
    border-width: 1px 0 0;
}
h1{
    font-weight: 300;

    margin-bottom: 10px;
}
.clearfix:after{
    display: block;
    clear: both;
    overflow: hidden;

    height: 0;

    content: '';
}
.nowrap{
    white-space: nowrap;
}
select,
button,
input{
    margin: 0;
}
select,
[type='submit'],
[type='text'],
[type='number']{
    width: 160px;
}
select,
button,
input[type='text'],
input[type='number']{
    font-size: 1em;
    line-height: 19px;

    max-width: 100%;
    padding: 0 6px;

    border: 1px solid #fff;
    background-color: #fff;
}

button{
    font-family: 'Segoe UI', Helvetica, Arial;

    padding: 0 6px 2px;

    cursor: pointer;

    color: #fff;
    border: 0 none;
    border-radius: 3px;
    background-color: #cb4b4b;
}
button:hover{
    background-color: #a94442;
}
input[type='text']:focus,
input[type='number']:focus{
    outline-width: 2px;
    outline-style: dotted;
    outline-color: #ccc;
}
*[disabled]{
    cursor: not-allowed;

    color: #fff;
    background-color: #ddd;
}
*[disabled]:hover{
    background-color: #eee;
}
fieldset{
    margin: 0;
    border: 1px solid #eee;
    background-color: #eee;
}
legend{
    padding: 0 10px;

    text-align: center;
    text-transform: uppercase;

    color: #888;
    background-color: #fff;
}

.radiolabel{
    margin-right: 5px;

    cursor: pointer;
}
/*chart area*/
#placeholder{
    height: 300px;

    background-color: #eee;
}

.legend{
    font-size: 12px;
    line-height: 1;
}
/*alerts*/

#notes span{
    display: inline-block;

    margin-right: 5px;
    padding: 0 5px;
}
.danger{
    color: #a94442;
    border: 1px solid #ebccd1;
    background-color: #f2dede;
}
.info{
    color: #31708f;
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
}
.warning{
    color: #8a6d3b;
    border: 1px solid gold;
    background-color: #fcf8e3;
}
.float50{
    float: left;

    width: 50%;
    padding-right: 10px;
}
.float50 + .float50{
    padding-right: 0;
}
.tbl{
    width: 100%;
    margin-top: 10px;

    border-collapse: collapse;

    border-bottom: 1px solid #eee;
    background-color: #eee;
}
.tbl th{
    font-weight: 400;

    padding: 0 0 0 10px;

    text-align: left;
    text-transform: uppercase;

    color: #888;
}
.tbl td{
    padding: 0 0 0 10px;
}
/*table*/
.tbl tbody tr:nth-child(odd){
    background-color: #f9f9f9;
}
.tbl tbody tr:hover{
    background-color: #d9edf7;
}
/*tooltip*/
.tooltip{
    position: absolute;
    top: 0;

    display: none;

    padding: 2px;

    border: 1px solid #fdd;
    background-color: #fee;
    background-color: rgba(255,221,221,.65);
}
.tooltip:before{
    position: absolute;
    top: -1px;
    right: 100%;

    width: 0;
    height: 0;

    content: '';

    border: 13px solid transparent;
    border-right-color: #555;
    border-left-width: 0;
}

.holiday-section{
    padding-right: 0;
    padding-left: 0;

    text-align: center;
}
.holiday-section input[type='checkbox']{
    display: none;
}

.holiday-section label{
    display: inline-block;

    padding: 0 2px;

    cursor: pointer;
    vertical-align: top;
}
#holidaysFLT label{
    width: 24%;
}
#holidaysSTD label{
    width: 16%;
}
.holiday-section span{
    display: inline-block;
    overflow: hidden;

    width: 100%;

    text-overflow: ellipsis;

    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: #eee;
}
.holiday-section :checked + span{
    background-color: #ccc;
}

.holiday-section span:hover{
    background-color: #ccc;
}
.holiday-section :checked + span:hover{
    background-color: #eee;
}

.holiday-section span:before{
    font-size: 2rem;

    content: '\002610';

    color: #888;
}
.holiday-section :checked + span:before{
    content: '\002611';
}
.holiday-section i{
    font-style: normal;

    display: inline-block;

    transform: rotate(90deg);
}
