@charset "UTF-8";
body {
    font-family: "Segoe UI", Helvetica, Arial;
    font-size: 14px;
    line-height: 21px;
    margin:0 0 22px;
    color:#333;

}
body *{
    box-sizing:border-box;
}

/*setup*/
#container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    margin: 12px 10px 0 24px;
}
h1.row{
    margin-bottom: 10px;
    font-weight: 300
}
.clearfix:after{
    content: '';
    clear:both;
    display: block;
    overflow: hidden;
    height: 0;
}
.nowrap{
    white-space: nowrap;
}
input,button{
    margin:0;
    padding: 0 6px;
    border:1px solid #eee;
    background-color: #eee;
    border-bottom-color: #ccc;
    font-size: 1em;

}
button{
    border:0 none;
    background-color: #cb4b4b;
    color:#fff;
    border-radius: 3px;
    padding: 0 6px 2px;
    cursor: pointer;
}
button:hover{
    background-color: #a94442
}
[type="text"]:focus{
    outline-width: 2px;
}
fieldset{
    border: 1px solid #ccc;
    margin:0;
    padding:0 10px 10px;
}
legend,th{
    font-weight: 700
}
label.label{
    display: inline-block;
    width:35px;
}
.radiolabel{
    margin-right: 5px;
    cursor: pointer;
}
/*chart area*/
#placeholder {
    height: 300px;
}
.legend{
    position: absolute;
    right: 0;
    top: -45px;
    width: 115px;
    font-size: 12px;
    line-height: 1
}
/*alerts*/

#notes span{
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
}
.danger {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
}
.info {
    color: #31708f;
    background-color: #d9edf7;
    border:1px solid #bce8f1;
}
.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border:1px solid gold;
}

/*form*/
#fstAddPto {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-top: 10px
}


/*table*/
#tblPto tr:nth-child(even){
    background-color: #eee;
}
#tblPto {
    float: left;
    border-collapse: collapse;
    width: 50%;
}
th{
    text-align: left;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #ccc;
}
#tblPto td {
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 10px;
}
#tblPto tr:hover{
    background-color: #d9edf7
}
/*tooltip*/
.tooltip {
    position: absolute;
    top:0;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    background-color: rgba(255, 221, 221, 0.65);
}
.tooltip:before {
    content: '';
    position: absolute;
    right: 100%;
    top: -1px;
    height: 0;
    width: 0;
    border: 13px solid transparent;
    border-left-width:0;
    border-right-color: #555;
}

.ui-datepicker{
    line-height: 1;
    font-size: 12px;
}
