body {
background-color: #f0f3f5;
font-family: 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 21px;
margin: 0 0 20px;
color: #333;
}

body, h1, h2
{
    font-weight: 300;
}

    body *
    {
        box-sizing: border-box;
    }

#container
{
    width: 1000px;
    margin: auto;
    padding: 0 2em;
}

.h1
{
    font-size: 1.3rem;
    margin: 0;
    padding: 8px 10px;
    background-color: #b00925;
    color: #fff;
    box-shadow: 0 3px 0 0 #d0d2d3;
}

.h2
{
    font-size: 1rem;
    margin: 20px 0 0;
    padding: 2px 5px;
    color: #fff;
    background-color: #10181f;
    border-radius: 4px 4px 0 0;
}
fieldset {
margin: 0;
border: 0 solid #0093c9;
background-color: #fff;
border-radius: 0 0 4px 4px;
box-shadow: 0 3px 0 0 #d0d2d3;
}
#placeholder
{
    height: 300px;
    background-color: #0093c9;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #d0d2d3;
}

.flot-text
{
    color: #fff !important;
}

.legend
{
    font-size: 12px;
    line-height: 1;
}

    .legend > div
    {
        display: none;
    }

    .legend table
    {
        background-color: #444;
        background-color: rgba(0,0,0,0.15);
    }

.ui-datepicker
{
    font-size: 8pt;
}
.clearfix:after {
  display: block;
  clear: both;
  overflow: hidden;
  height: 0;
  content: ''
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.blocklabel {
  display: block;
  font-weight: 700
}

#notes
{
    margin: 1em auto 0 auto;
    padding: 0.5em;
    background-color: #b00925;
    border-radius:4px;
    color:#fff;
}

/*#dataEntry
{
    margin-top: 3em;
}*/

/*#fstAddPto
{
    float: left;
    margin: 2em 0;
}*/
.tbl {
width: 100%;
border-collapse: collapse;
border-radius: 0 0 4px 4px;
box-shadow: 0 3px 0 0 #d0d2d3;
background-color: #fff;
}
#tblPto
{
    clear: both;
    border-collapse: collapse;
    border-bottom: 1px solid #888;
}

    #tblPto td
    {
        border-top: 1px solid #888;
        padding: 3px 10px;
    }
